.disclaimer {
  display: none;
  width: 0;
  height: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: Arial;
}

a {
  text-decoration: unset;
  color: unset;
}

body {
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0, 0, 0, 0.1);
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}
body.disabled-scrollbar {
  overflow: hidden;
}

.header {
  color: white;
  position: fixed;
  inset: 0;
  bottom: calc(100vh - 64px - 48px);
  z-index: 2;
}
.header__main {
  padding: 0 calc((100% - 1200px) / 2);
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 64px);
  gap: 0;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  background-color: #ff4500;
}
.header__main-menu {
  display: none;
}
.header__main-logo {
  grid-column: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  height: 64px;
  border-radius: 999rem;
}
.header__main-logo > img {
  height: 100%;
  border-radius: inherit;
}
.header__main-search {
  grid-column: 2/4;
  display: flex;
  align-items: center;
  padding: 4px;
  border: 1px solid white;
}
.header__main-search-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.header__main-search-input > input {
  padding: 8px;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
}
.header__main-search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
.header__main-search-icon:hover {
  opacity: 0.8;
}
.header__main-right {
  grid-column: 4/6;
  display: flex;
  justify-content: end;
}
.header__main-cart {
  display: flex;
  padding: 16px;
  align-items: center;
}
.header__main-cart-icon {
  margin-right: 8px;
}
.header__main-purchase {
  display: flex;
  padding: 16px;
  align-items: center;
}
.header__main-purchase-icon {
  margin-right: 8px;
}
.header__main-account {
  display: flex;
  align-items: center;
  padding: 16px;
}
.header__main-account-icon {
  margin-right: 8px;
}
.header__menu {
  display: flex;
  width: 100%;
  padding: 0 calc((100% - 1200px) / 2);
  background-color: white;
  color: black;
  background-color: #f1f1f1f1;
  justify-content: space-evenly;
  height: 48px;
}
.header__menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 8px;
  text-transform: uppercase;
}
.header__menu-item.active {
  box-shadow: 0 -4px #ff4500 inset;
  color: #ff4500;
}
.header__menu-item > i {
  margin-right: 8px;
}
.header__menu-close {
  display: none;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f1f1f1f1;
  margin-bottom: 32px;
}
.slider > img {
  width: 100%;
}

.body {
  padding: 0 calc((100% - 1200px) / 2);
  margin: 144px 0;
}
.body-title {
  font-size: 1.5em;
  font-weight: bolder;
  text-transform: uppercase;
  margin: 16px;
}
.filter {
  display: grid;
  justify-content: start;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  margin-bottom: 16px;
  border: 1px solid #f1f1f1f1;
  padding: 16px;
  background-color: #f1f1f1f1;
}
.filter > span {
  margin-right: 32px;
}
.filter-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: white;
  border: none;
  outline: none;
}
.filter-item.active {
  background-color: rgba(255, 69, 0, 0.8);
  color: white;
}

.area + .area {
  margin-top: 32px;
}
.area-view-full {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.area-view-full > a {
  padding: 8px;
  background-color: #f1f1f1;
}
.area-view-full > a:hover {
  color: rgba(0, 60, 255, 0.801);
}
.area-title {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.5em;
  margin: 16px;
}
.area-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: fit-content;
  gap: 0;
  border-top: #f1f1f1 1px solid;
  border-left: #f1f1f1 1px solid;
}
.area-item {
  padding: 16px;
  border: 1px solid #f1f1f1;
  border-top: none;
  border-left: none;
}
.area-item:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  color: rgba(0, 60, 255, 0.801);
}
.area-item-picture {
  width: 100%;
}
.area-item-picture > img {
  width: 100%;
  height: 100%;
}
.area-item-name {
  margin: 8px 0;
}
.area-item-price {
  font-size: 1.1em;
  font-weight: bolder;
}

.purchase-menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 32px;
  border-top: 1px solid white;
  border-left: 1px solid white;
  background-color: #f1f1f1f1;
}
.purchase-menu > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  padding: 16px;
}
.purchase-menu > a.active {
  background-color: #ff4500;
  color: white;
}
.purchase-list {
  border-top: 1px solid #f1f1f1;
  border-left: 1px solid #f1f1f1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 0;
}
.purchase-item {
  border-right: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  padding: 16px;
}
.purchase-item:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  color: rgba(0, 60, 255, 0.801);
}
.purchase-item-id {
  margin-bottom: 8px;
}
.purchase-item-image {
  margin-bottom: 8px;
  width: 100%;
}
.purchase-item-image > img {
  width: 100%;
}
.purchase-item-amount {
  margin-bottom: 8px;
}
.purchase-item-price {
  margin-bottom: 8px;
}
.purchase-item-detail {
  margin-bottom: 8px;
}
.purchase-item-detail > button {
  padding: 4px;
  width: 100%;
}
.purchase-item-delete {
  margin-bottom: 8px;
}
.purchase-item-delete > button {
  width: 100%;
  padding: 4px;
}

.cart-header {
  display: flex;
  justify-content: end;
  border: 1px solid #f1f1f1;
  padding: 16px;
  margin-bottom: 16px;
}
.cart-selects {
  margin-right: 16px;
}
.cart-selects > button, .cart-orders > button {
  padding: 8px;
  color: #ff4500;
  border: 1px solid #ff4500;
  background-color: white;
}
.cart-selects > button:active, .cart-orders > button:active {
  color: white;
  background-color: #ff4500;
}
.cart-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0;
  border-top: 1px solid #f1f1f1;
  border-left: 1px solid #f1f1f1;
}
.cart-item {
  border-right: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  padding: 16px;
}
.cart-item:hover {
  color: rgba(0, 60, 255, 0.801);
  box-shadow: 0 0 8px 4px #f1f1f1f1;
  z-index: 1;
}
.cart-item-image {
  width: 100%;
}
.cart-item-image > img {
  width: 100%;
}
.cart-item-delete > button, .cart-item-order > button {
  width: 100%;
  padding: 4px 0;
}
.cart-item-image, .cart-item-order, .cart-item-delete, .cart-item-name, .cart-item-price, .cart-item-select {
  margin-bottom: 8px;
}

.land-header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-top: 1px solid #f1f1f1;
  border-left: 1px solid #f1f1f1;
  margin-bottom: 32px;
}
.land-header-sub {
  padding: 16px;
  border-bottom: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
}
.land-header-top {
  grid-column: 1/6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f1f1f1f1;
}
.land-header-name {
  font-size: 16px;
  text-transform: uppercase;
}
.land-header-image {
  grid-column: 1/4;
  width: 100%;
}
.land-header-image > img {
  width: 100%;
}
.land-header-control {
  display: flex;
  justify-content: end;
}
.land-header-control-add > button, .land-header-control-order > button {
  padding: 8px;
  background-color: white;
  color: #ff4500;
  border: 1px solid #ff4500;
  outline: none;
}
.land-header-control-add > button:active, .land-header-control-order > button:active {
  color: white;
  background-color: #ff4500;
}
.land-header-control-add + .land-header-control-order {
  margin-left: 16px;
}
.land-header-info {
  grid-column: 4/6;
  padding: 16px;
}
.land-header-info-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 16px;
  margin-bottom: 16px;
  font-weight: bolder;
  border-bottom: 1px solid #f1f1f1;
}
.land-header-info-item {
  padding: 8px 0;
}
.land-header-info-item + .land-header-info-item {
  margin-top: 8px;
}
.land-thumbnail {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0;
  border-left: 1px solid #f1f1f1;
  border-top: 1px solid #f1f1f1;
  margin-bottom: 32px;
}
.land-thumbnail-item {
  border-right: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  width: 100%;
}
.land-thumbnail-item > img {
  width: 100%;
}
.land-description {
  border-left: 1px solid #f1f1f1;
  border-top: 1px solid #f1f1f1;
}
.land-description-title {
  font-size: 16px;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 16px;
  border-right: 1px solid #f1f1f1;
  background-color: #f1f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}
.land-description-content {
  padding: 16px;
  border-right: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}

@media screen and (max-width: 576px) {
  .app {
    position: relative;
  }

  .header {
    position: fixed;
    inset: 0;
    bottom: calc(100vh - 48px);
  }
  .header__main {
    height: 48px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 48px);
  }
  .header__main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
  }
  .header__main-logo {
    display: none;
  }
  .header__main-search {
    grid-column: 1/3;
    border: unset;
    padding: 8px;
  }
  .header__main-search-icon:hover {
    opacity: 0.5;
  }
  .header__main-right {
    grid-column: 3;
  }
  .header__main-cart {
    margin: 8px;
    padding: unset;
  }
  .header__main-cart-icon {
    margin-right: unset;
  }
  .header__main-cart > span {
    display: none;
  }
  .header__main-purchase {
    margin: 8px;
    padding: unset;
  }
  .header__main-purchase > span {
    display: none;
  }
  .header__main-purchase-icon {
    margin-right: unset;
  }
  .header__main-account {
    margin: 8px;
    padding: unset;
  }
  .header__main-account-name {
    display: none;
  }
  .header__main-account-icon {
    margin-right: unset;
  }
  .header__menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: unset;
    inset: 0;
    left: unset;
    transform: translateX(100%);
    width: 70%;
    transition: all 0.5s ease;
    padding: 8px;
  }
  .header__menu.active {
    transform: translateX(0);
    transition: all 0.5s ease;
  }
  .header__menu-close {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 8px;
  }
  .header__menu-item {
    display: flex;
    justify-content: start;
    align-items: start;
    height: unset;
  }
  .header__menu-item.active {
    box-shadow: unset;
    background-color: #ff4500;
    color: white;
  }
  .header__menu-item + .header__menu-item {
    margin-top: 16px;
  }

  .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }

  .body {
    margin: 64px 0 16px 0;
  }
  .body-title {
    margin-bottom: 8px;
    margin-left: 8px;
  }

  .area + .area {
    margin-top: 32px;
  }
  .area-title {
    margin: 8px;
  }
  .area-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .area-item {
    padding: 8px;
  }

  .purchase-menu {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 16px;
  }
  .purchase-menu > a {
    padding: 8px;
  }
  .purchase-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .purchase-item {
    padding: 8px;
  }

  .filter {
    padding: 8px;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
  .filter > span {
    display: none;
  }

  .cart-header {
    padding: 8px;
  }
  .cart-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .land-header-sub {
    padding: 8px;
  }
  .land-header-top {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 8px;
  }
  .land-header-name {
    margin-bottom: 8px;
  }
  .land-header-image {
    grid-column: 1/6;
  }
  .land-header-info {
    grid-column: 1/6;
  }
  .land-header-info-title {
    margin-bottom: 8px;
    padding-bottom: 8px;
  }
  .land-thumbnail {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .app {
    position: relative;
  }

  .header {
    position: fixed;
    inset: 0;
    bottom: calc(100vh - 48px);
  }
  .header__main {
    height: 48px;
  }
  .header__main-right {
    display: flex;
  }
  .header__main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
  }
  .header__main-logo {
    display: none;
  }
  .header__main-search {
    border: unset;
    padding: 8px;
  }
  .header__main-search-icon:hover {
    opacity: 0.5;
  }
  .header__main-cart {
    margin: 8px;
    padding: unset;
  }
  .header__main-cart-icon {
    margin-right: unset;
  }
  .header__main-cart > span {
    display: none;
  }
  .header__main-purchase {
    margin: 8px;
    padding: unset;
  }
  .header__main-purchase > span {
    display: none;
  }
  .header__main-purchase-icon {
    margin-right: unset;
  }
  .header__main-account {
    margin: 8px;
    padding: unset;
  }
  .header__main-account-name {
    display: none;
  }
  .header__main-account-icon {
    margin-right: unset;
  }
  .header__menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: unset;
    inset: 0;
    left: unset;
    transform: translateX(100%);
    width: 70%;
    transition: all 0.5s ease;
    padding: 8px;
  }
  .header__menu.active {
    transform: translateX(0);
    transition: all 0.5s ease;
  }
  .header__menu-close {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 8px;
  }
  .header__menu-item {
    display: flex;
    justify-content: start;
    align-items: start;
    height: unset;
  }
  .header__menu-item.active {
    box-shadow: unset;
    background-color: #ff4500;
    color: white;
  }
  .header__menu-item + .header__menu-item {
    margin-top: 16px;
  }

  .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }

  .body {
    margin: 64px 0 16px 0;
  }
  .body-title {
    margin-bottom: 8px;
    margin-left: 8px;
  }

  .area + .area {
    margin-top: 32px;
  }
  .area-title {
    margin: 8px;
  }
  .area-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .area-item {
    padding: 8px;
  }

  .purchase-menu {
    margin-bottom: 16px;
  }
  .purchase-menu > a {
    padding: 8px;
  }
  .purchase-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .purchase-item {
    padding: 8px;
  }

  .filter {
    padding: 8px;
  }
  .filter > span {
    display: none;
  }
  .filter-item + .filter-item {
    margin-left: 8px;
  }

  .cart-header {
    padding: 8px;
  }
  .cart-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .header {
    position: fixed;
    inset: 0;
    bottom: calc(100vh - 48px);
  }
  .header__main {
    height: 48px;
  }
  .header__main-right {
    display: flex;
  }
  .header__main-menu {
    display: none;
  }
  .header__main-search {
    border: unset;
    padding: 8px;
  }
  .header__main-search-icon:hover {
    opacity: 0.5;
  }
  .header__main-cart {
    margin: 8px;
    padding: unset;
  }
  .header__main-cart-icon {
    margin-right: unset;
  }
  .header__main-cart > span {
    display: none;
  }
  .header__main-purchase {
    margin: 8px;
    padding: unset;
  }
  .header__main-purchase > span {
    display: none;
  }
  .header__main-purchase-icon {
    margin-right: unset;
  }
  .header__main-account {
    margin: 8px;
    padding: unset;
  }
  .header__main-account-name {
    display: none;
  }
  .header__main-account-icon {
    margin-right: unset;
  }
  .header__menu {
    height: unset;
  }
  .header__menu-item {
    height: unset;
    padding: 8px;
  }

  .body-title {
    margin-bottom: 8px;
    margin-left: 8px;
  }

  .area + .area {
    margin-top: 32px;
  }
  .area-title {
    margin: 8px;
  }
  .area-list {
    grid-template-columns: repeat(4, 1fr);
  }
  .area-item {
    padding: 8px;
  }

  .purchase-menu {
    margin-bottom: 16px;
  }
  .purchase-menu > a {
    padding: 8px;
  }
  .purchase-list {
    grid-template-columns: repeat(4, 1fr);
  }
  .purchase-item {
    padding: 8px;
  }

  .filter {
    padding: 8px;
  }
  .filter > span {
    display: none;
  }
  .filter-item + .filter-item {
    margin-left: 8px;
  }

  .cart-header {
    padding: 8px;
  }
  .cart-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*# sourceMappingURL=index.css.map */
