* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: unset;
    color: unset;
}

body {
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 8px;
        background-color: rgba(0, 0, 0, 0.1);
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

@media screen and (max-width: 576px) {
    .app {
        position: relative;
    }

    .header {
        padding: 8px;

        &__main {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &-right {
                display: flex;
            }

            &-menu {}

            &-logo {
                display: none;
            }

            &-search {
                display: flex;
                justify-content: space-between;
                border: 1px solid #f1f1f1f1;
                border-radius: 4px;
                padding: 4px;
                margin-right: 16px;


                &-input {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;

                    &>input {
                        width: 100%;
                        border: none;
                        outline: none;
                    }
                }

                &-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        opacity: 0.5;
                    }
                }
            }

            &-cart {
                display: flex;
                align-items: center;
                margin-right: 16px;

                &-icon {

                    &>i {}
                }

                &>span {
                    display: none;
                }
            }

            &-purchase {
                display: flex;
                margin-right: 16px;
                align-items: center;

                &>span {
                    display: none;
                }
            }

            &-account {
                margin-right: 16px;

                &-name {
                    display: none;
                }
            }
        }

        &__menu {
            position: fixed;
            inset: 0;
            right: unset;
            padding: 8px;
            transform: translateX(-100%);
            width: 70%;
            background-color: #fed100;
            transition: all 0.5s ease;

            &.active {
                transform: translateX(0);
                transition: all 0.5s ease;
            }

            &-item {
                display: flex;
                padding: 8px;

                &:hover {
                    background-color: white;
                }

                &.active {
                    background-color: white;
                    // box-shadow: 0 4px #fed100 inset;
                }

                &>i {
                    margin-right: 8px;
                }
            }
        }
    }

    .slider {
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    }

    .body {
        margin: 16px 0;

        &-title {
            font-weight: bolder;
            text-transform: uppercase;
            margin-bottom: 8px;
            margin-left: 8px;
        }

        &-content {}
    }

    .cart {

        &-list {
            border-top: #f1f1f1 1px solid;
            border-left: #f1f1f1 1px solid;
        }

        &-item {
            display: flex;
            padding: 8px;
            border-bottom: #f1f1f1 1px solid;
            border-right: #f1f1f1 1px solid;

            &-image {
                height: 80px;
                width: 80px;
                margin-right: 16px;

                &>img {
                    height: 100%;
                    width: 100%;
                    object-fit: scale-down;
                }
            }

            &-name {
                margin-right: 16px;
            }

            &-price {
                margin-right: 16px;

            }

            &-amount {
                margin-right: 16px;
            }

            &-select {
                margin-right: 16px;
            }
        }
    }

    .area {
        &+.area {
            margin-top: 32px;
        }

        &-view-full {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 16px;

            &>a {
                padding: 8px;
                background-color: rgb(241, 241, 241);
                border-radius: 4px;

                &:hover {
                    color: rgba(0, 60, 255, 0.801);
                    background-color: rgba(241, 241, 241, 0.5);
                }
            }
        }

        &-title {
            text-transform: uppercase;
            font-weight: bolder;
            margin: 8px;
        }

        &-list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: fit-content;
            gap: 0;
            border-top: #f1f1f1 1px solid;
            border-left: #f1f1f1 1px solid;
        }

        &-item {
            padding: 8px;
            border: 1px solid #f1f1f1;
            border-top: none;
            border-left: none;

            &:hover {
                box-shadow: 0 0 8px rgb(0 0 0 / 10%);
                z-index: 1;
                color: rgba(0, 60, 255, 0.801);
            }

            &-picture {
                width: 100%;

                &>img {
                    width: 100%;
                    height: 100%;
                }
            }

            &-name {
                margin: 8px 0;
            }

            &-price {
                font-size: 1.1em;
                font-weight: bolder;
            }
        }
    }

    .land {
        border-top: 1px solid #f1f1f1;
        border-left: 1px solid #f1f1f1;
        box-shadow: 0 0 8px #f1f1f1;

        &-item {
            border-bottom: 1px solid #f1f1f1;
            border-right: 1px solid #f1f1f1;
            padding: 16px;

        }

        &-header {
            font-size: 1.5em;
            text-transform: uppercase;
        }

        &-body {
            display: flex;
        }

        &-left {
            width: 60%;
            display: flex;
            justify-content: center;
            align-items: center;

            &>img {
                width: 100%;
            }
        }

        &-right {
            width: 40%;

        }

        &-title {
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            width: 100%;
            margin-bottom: 16px;
        }

        &-content {
            margin-left: 16px;

            &-item+&-item {
                margin-top: 8px;
            }
        }
    }

    .purchase {
        &-header {
            display: flex;
            margin-bottom: 16px;
            border-top: 1px solid #f1f1f1;
            border-left: 1px solid #f1f1f1;

            &>a {
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                border-right: 1px solid #f1f1f1;
                border-bottom: 1px solid #f1f1f1;
                padding: 8px;

                &:hover {
                    box-shadow: 0 0 8px rgba(0 0 0 / 10%);
                    z-index: 1;
                }
            }
        }

        &-list {
            border-top: 1px solid #f1f1f1;
            border-left: 1px solid #f1f1f1;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0;
        }

        &-item {
            border-right: 1px solid #f1f1f1;
            border-bottom: 1px solid #f1f1f1;
            padding: 8px;

            &:hover {
                box-shadow: 0 0 8px rgba(0 0 0 / 10%);
                z-index: 1;
            }

            &-image {
                width: 100%;

                &>img {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .app {
        position: relative;
    }

    .header {
        padding: 8px;

        &__main {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &-right {
                display: flex;
            }

            &-menu {}

            &-logo {
                display: none;
            }

            &-search {
                display: flex;
                justify-content: space-between;
                border: 1px solid #f1f1f1f1;
                border-radius: 4px;
                padding: 4px;
                margin-right: 16px;


                &-input {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;

                    &>input {
                        width: 100%;
                        border: none;
                        outline: none;
                    }
                }

                &-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        opacity: 0.5;
                    }
                }
            }

            &-cart {
                display: flex;
                align-items: center;
                margin-right: 16px;

                &-icon {

                    &>i {}
                }

                &>span {
                    display: none;
                }
            }

            &-purchase {
                display: flex;
                margin-right: 16px;
                align-items: center;

                &>span {
                    display: none;
                }
            }

            &-account {
                margin-right: 16px;

                &-name {
                    display: none;
                }
            }
        }

        &__menu {
            position: fixed;
            inset: 0;
            right: unset;
            padding: 8px;
            transform: translateX(-100%);
            width: 70%;
            background-color: #fed100;
            transition: all 0.5s ease;

            &.active {
                transform: translateX(0);
                transition: all 0.5s ease;
            }

            &-item {
                display: flex;
                padding: 8px;

                &:hover {
                    background-color: white;
                }

                &.active {
                    background-color: white;
                    // box-shadow: 0 4px #fed100 inset;
                }

                &>i {
                    margin-right: 8px;
                }
            }
        }
    }

    .slider {
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    }

    .body {
        margin: 16px 0;

        &-title {
            font-weight: bolder;
            text-transform: uppercase;
            margin-bottom: 8px;
            margin-left: 8px;
        }

        &-content {}
    }

    .cart {

        &-list {
            border-top: #f1f1f1 1px solid;
            border-left: #f1f1f1 1px solid;
        }

        &-item {
            display: flex;
            padding: 16px;
            border-bottom: #f1f1f1 1px solid;
            border-right: #f1f1f1 1px solid;

            &-image {
                height: 80px;
                width: 80px;
                margin-right: 16px;

                &>img {
                    height: 100%;
                    width: 100%;
                    object-fit: scale-down;
                }
            }

            &-name {
                margin-right: 16px;
            }

            &-price {
                margin-right: 16px;

            }

            &-amount {
                margin-right: 16px;
            }

            &-select {
                margin-right: 16px;
            }
        }
    }

    .area {
        &+.area {
            margin-top: 32px;
        }

        &-view-full {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 16px;

            &>a {
                padding: 8px;
                background-color: rgb(241, 241, 241);
                border-radius: 4px;

                &:hover {
                    color: rgba(0, 60, 255, 0.801);
                    background-color: rgba(241, 241, 241, 0.5);
                }
            }
        }

        &-title {
            text-transform: uppercase;
            font-weight: bolder;
            margin: 8px;
        }

        &-list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            width: fit-content;
            gap: 0;
            border-top: #f1f1f1 1px solid;
            border-left: #f1f1f1 1px solid;
        }

        &-item {
            padding: 8px;
            border: 1px solid #f1f1f1;
            border-top: none;
            border-left: none;

            &:hover {
                box-shadow: 0 0 8px rgb(0 0 0 / 10%);
                z-index: 1;
                color: rgba(0, 60, 255, 0.801);
            }

            &-picture {
                width: 100%;

                &>img {
                    width: 100%;
                    height: 100%;
                }
            }

            &-name {
                margin: 8px 0;
            }

            &-price {
                font-size: 1.1em;
                font-weight: bolder;
            }
        }
    }

    .land {
        border-top: 1px solid #f1f1f1;
        border-left: 1px solid #f1f1f1;
        box-shadow: 0 0 8px #f1f1f1;

        &-item {
            border-bottom: 1px solid #f1f1f1;
            border-right: 1px solid #f1f1f1;
            padding: 16px;

        }

        &-header {
            font-size: 1.5em;
            text-transform: uppercase;
        }

        &-body {
            display: flex;
        }

        &-left {
            width: 60%;
            display: flex;
            justify-content: center;
            align-items: center;

            &>img {
                width: 100%;
            }
        }

        &-title {
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            width: 100%;
            margin-bottom: 16px;
        }

        &-content {
            margin-left: 16px;

            &-item+&-item {
                margin-top: 8px;
            }
        }
    }

    .purchase {
        &-header {
            display: flex;
            margin-bottom: 8px;
            border-top: 1px solid #f1f1f1;
            border-left: 1px solid #f1f1f1;

            &>a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                border-right: 1px solid #f1f1f1;
                border-bottom: 1px solid #f1f1f1;
                padding: 8px;

                &:hover {
                    box-shadow: 0 0 8px rgba(0 0 0 / 10%);
                    z-index: 1;
                }
            }
        }

        &-list {
            border-top: 1px solid #f1f1f1;
            border-left: 1px solid #f1f1f1;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 0;
        }

        &-item {
            border-right: 1px solid #f1f1f1;
            border-bottom: 1px solid #f1f1f1;
            padding: 8px;

            &:hover {
                box-shadow: 0 0 8px rgba(0 0 0 / 10%);
                z-index: 1;
            }

            &-image {
                width: 100%;

                &>img {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .header {

        &__main {
            display: flex;
            align-items: center;
            height: 64px;
            padding: 0 calc((100% - 1200px) / 2);

            &-menu {
                display: none;
            }

            &-right {
                display: flex;
                align-items: center;
                justify-content: end;
                width: 100%;

            }

            &-logo {
                height: 50%;
                margin: 16px;

                &>img {
                    height: 100%;
                }
            }

            &-search {
                display: flex;
                justify-content: space-between;
                border: 1px solid rgba(0 0 0 /20%);
                padding: 8px;
                border-radius: 4px;

                &-input {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 8px;

                    &>input {
                        border: none;
                        outline: none;
                    }
                }

                &-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        opacity: 0.5;
                    }
                }
            }

            &-cart {
                display: flex;
                padding: 16px;
                align-items: center;

                &-icon {
                    margin-right: 8px;

                    &>i {}
                }
            }

            &-purchase {
                display: flex;
                align-items: center;
                padding: 16px;

                &-icon {
                    margin-right: 8px;

                }
            }

            &-account {
                display: flex;
                padding: 16px;
                align-items: center;

                &-icon {
                    margin-right: 8px;

                    &>i {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }

        &__menu {
            display: flex;
            justify-content: space-evenly;
            height: 32px;
            width: 100%;
            padding: 0 calc((100% - 1200px) / 2);
            background-color: #fed100;

            &-item {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 16px;

                &:hover {
                    background-color: white;
                }

                &.active {
                    background-color: white;
                    // box-shadow: 0 4px #fed100 inset;
                }

                &>i {
                    margin-right: 8px;
                }
            }
        }
    }

    .slider {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .body {
        padding: 0 calc((100% - 1200px) / 2);
        margin: 64px 0;

        &-title {
            font-size: 1.5em;
            font-weight: bolder;
            text-transform: uppercase;
            margin-bottom: 16px;
        }

        &-content {}
    }

    .cart {

        &-list {
            border-top: #f1f1f1 1px solid;
            border-left: #f1f1f1 1px solid;
        }

        &-item {
            display: flex;
            padding: 16px;
            border-bottom: #f1f1f1 1px solid;
            border-right: #f1f1f1 1px solid;

            &-image {
                height: 80px;
                width: 80px;
                margin-right: 16px;

                &>img {
                    height: 100%;
                    width: 100%;
                    object-fit: scale-down;
                }
            }

            &-name {
                margin-right: 16px;
            }

            &-price {
                margin-right: 16px;

            }

            &-amount {
                margin-right: 16px;
            }

            &-select {
                margin-right: 16px;
            }
        }
    }

    .area {
        &+.area {
            margin-top: 32px;
        }

        &-view-full {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 16px;

            &>a {
                padding: 8px;
                background-color: rgb(241, 241, 241);
                border-radius: 4px;

                &:hover {
                    color: rgba(0, 60, 255, 0.801);
                    background-color: rgba(241, 241, 241, 0.5);
                }
            }
        }

        &-title {
            text-transform: uppercase;
            font-weight: bolder;
            margin: 16px 0;
            font-size: 1.5em;
        }

        &-list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            width: fit-content;
            gap: 0;
            border-top: #f1f1f1 1px solid;
            border-left: #f1f1f1 1px solid;
        }

        &-item {
            padding: 16px;
            border: 1px solid #f1f1f1;
            border-top: none;
            border-left: none;

            &:hover {
                box-shadow: 0 0 8px rgb(0 0 0 / 10%);
                z-index: 1;
                color: rgba(0, 60, 255, 0.801);
            }

            &-picture {
                width: 100%;

                &>img {
                    width: 100%;
                    height: 100%;
                }
            }

            &-name {
                margin: 8px 0;
            }

            &-price {
                font-size: 1.1em;
                font-weight: bolder;
            }
        }
    }

    .land {
        border-top: 1px solid #f1f1f1;
        border-left: 1px solid #f1f1f1;
        box-shadow: 0 0 8px #f1f1f1;

        &-item {
            border-bottom: 1px solid #f1f1f1;
            border-right: 1px solid #f1f1f1;
            padding: 16px;

        }

        &-header {
            font-size: 1.5em;
            text-transform: uppercase;
        }

        &-body {
            display: flex;
        }

        &-left {
            width: 60%;
            display: flex;
            justify-content: center;
            align-items: center;

            &>img {
                width: 100%;
            }
        }

        &-right {
            width: 40%;

        }

        &-title {
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            width: 100%;
            margin-bottom: 16px;
        }

        &-content {
            margin-left: 16px;

            &-item+&-item {
                margin-top: 8px;
            }
        }
    }

    .purchase {
        &-header {
            display: flex;
            margin-bottom: 32px;
            border-top: 1px solid #f1f1f1;
            border-left: 1px solid #f1f1f1;

            &>a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                border-right: 1px solid #f1f1f1;
                border-bottom: 1px solid #f1f1f1;
                padding: 16px;

                &:hover {
                    box-shadow: 0 0 8px rgba(0 0 0 / 10%);
                    z-index: 1;
                }
            }
        }

        &-list {
            border-top: 1px solid #f1f1f1;
            border-left: 1px solid #f1f1f1;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            gap: 0;
        }

        &-item {
            border-right: 1px solid #f1f1f1;
            border-bottom: 1px solid #f1f1f1;
            padding: 16px;

            &:hover {
                box-shadow: 0 0 8px rgba(0 0 0 / 10%);
                z-index: 1;
            }

            &-image {
                width: 100%;

                &>img {
                    width: 100%;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .header {

        &__main {
            padding: 0 calc((100% - 1200px) / 2);
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 64px;

            &-menu {
                display: none;
            }

            &-right {
                display: flex;
            }

            &-logo {
                margin: 16px;
                height: 50%;

                &>img {
                    height: 100%;
                }
            }

            &-search {
                display: flex;
                justify-content: space-between;
                border: 1px solid rgba(0 0 0 /20%);
                padding: 8px;
                border-radius: 4px;
                width: 420px;

                &-input {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 8px;
                    width: 100%;


                    &>input {
                        width: 100%;
                        border: none;
                        outline: none;
                    }
                }

                &-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        opacity: 0.5;
                    }
                }
            }

            &-cart {
                display: flex;
                padding: 16px;
                align-items: center;

                &-icon {
                    margin-right: 8px;
                }
            }

            &-purchase {
                display: flex;
                padding: 16px;
                align-items: center;

                &-icon {
                    margin-right: 8px;
                }
            }

            &-account {
                display: flex;
                align-items: center;
                padding: 16px;

                &-icon {
                    margin-right: 8px;
                }
            }
        }

        &__menu {
            display: flex;
            width: 100%;
            padding: 0 calc((100% - 1200px) / 2);
            background-color: #fed100;
            justify-content: space-evenly;

            &-item {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 4px 8px;
                &:hover {
                    color: rgba(0, 60, 255, 0.801);
                }

                &.active {
                    background-color: white;
                }

                &>i {
                    margin-right: 8px;
                }
            }
        }
    }

    .slider {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .body {
        padding: 0 calc((100% - 1200px) / 2);
        margin: 64px 0;

        &-title {
            font-size: 1.5em;
            font-weight: bolder;
            text-transform: uppercase;
            margin-bottom: 16px;
        }

        &-content {}
    }

    .cart {

        &-list {
            border-top: #f1f1f1 1px solid;
            border-left: #f1f1f1 1px solid;
        }

        &-item {
            display: flex;
            padding: 16px;
            border-bottom: #f1f1f1 1px solid;
            border-right: #f1f1f1 1px solid;

            &-image {
                height: 80px;
                width: 80px;
                margin-right: 16px;

                &>img {
                    height: 100%;
                    width: 100%;
                    object-fit: scale-down;
                }
            }

            &-name {
                margin-right: 16px;
            }

            &-price {
                margin-right: 16px;

            }

            &-amount {
                margin-right: 16px;
            }

            &-select {
                margin-right: 16px;
            }
        }
    }

    .area {
        &+.area {
            margin-top: 32px;
        }

        &-view-full {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 16px;

            &>a {
                padding: 8px;
                background-color: rgb(241, 241, 241);
                border-radius: 4px;

                &:hover {
                    color: rgba(0, 60, 255, 0.801);
                    background-color: rgba(241, 241, 241, 0.5);
                }
            }
        }

        &-title {
            text-transform: uppercase;
            font-weight: bolder;
            margin: 16px 0;
            font-size: 1.5em;
        }

        &-list {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            width: fit-content;
            gap: 0;
            border-top: #f1f1f1 1px solid;
            border-left: #f1f1f1 1px solid;
        }

        &-item {
            padding: 16px;
            border: 1px solid #f1f1f1;
            border-top: none;
            border-left: none;

            &:hover {
                box-shadow: 0 0 8px rgb(0 0 0 / 10%);
                z-index: 1;
                color: rgba(0, 60, 255, 0.801);
            }

            &-picture {
                width: 100%;

                &>img {
                    width: 100%;
                    height: 100%;
                }
            }

            &-name {
                margin: 8px 0;
            }

            &-price {
                font-size: 1.1em;
                font-weight: bolder;
            }
        }
    }

    .land {
        border-top: 1px solid #f1f1f1;
        border-left: 1px solid #f1f1f1;
        box-shadow: 0 0 8px #f1f1f1;

        &-item {
            border-bottom: 1px solid #f1f1f1;
            border-right: 1px solid #f1f1f1;
            padding: 16px;

        }

        &-header {
            font-size: 1.5em;
            text-transform: uppercase;
        }

        &-body {
            display: flex;
        }

        &-left {
            width: 60%;
            display: flex;
            justify-content: center;
            align-items: center;

            &>img {
                width: 100%;
            }
        }

        &-right {
            width: 40%;

        }

        &-title {
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            width: 100%;
            margin-bottom: 16px;
        }

        &-content {
            margin-left: 16px;

            &-item+&-item {
                margin-top: 8px;
            }
        }
    }

    .purchase {
        &-header {
            display: flex;
            margin-bottom: 32px;
            border-top: 1px solid #f1f1f1;
            border-left: 1px solid #f1f1f1;

            &>a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                border-right: 1px solid #f1f1f1;
                border-bottom: 1px solid #f1f1f1;
                padding: 16px;

                &:hover {
                    box-shadow: 0 0 8px rgba(0 0 0 / 10%);
                    z-index: 1;
                }
            }
        }

        &-list {
            border-top: 1px solid #f1f1f1;
            border-left: 1px solid #f1f1f1;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            gap: 0;
        }

        &-item {
            border-right: 1px solid #f1f1f1;
            border-bottom: 1px solid #f1f1f1;
            padding: 16px;

            &:hover {
                box-shadow: 0 0 8px rgba(0 0 0 / 10%);
                z-index: 1;
            }

            &-image {
                width: 100%;

                &>img {
                    width: 100%;
                }
            }
        }
    }
}