$color-header: #ff4500;
$color-silver: #f1f1f1f1;

.disclaimer {
    display: none;
    width: 0;
    height: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: Arial;
}

a {
    text-decoration: unset;
    color: unset;
}

body {
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 8px;
        background-color: rgba(0, 0, 0, 0.1);
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
    }

    &.disabled-scrollbar {
        overflow: hidden;
    }
}

.header {
    color: white;
    position: fixed;
    inset: 0;
    bottom: calc(100vh - 64px - 48px);
    z-index: 2;

    &__main {
        padding: 0 calc((100% - 1200px) / 2);
        position: relative;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(1, 64px);
        gap: 0;
        align-items: center;
        justify-content: space-between;
        height: 64px;
        background-color: $color-header;

        &-menu {
            display: none;
        }

        &-logo {
            grid-column: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px;
            height: 64px;
            border-radius: 999rem;

            &>img {
                height: 100%;
                border-radius: inherit;

            }
        }

        &-search {
            grid-column: 2 / 4;
            display: flex;
            align-items: center;
            padding: 4px;
            border: 1px solid white;

            &-input {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;

                &>input {
                    padding: 8px;
                    border: none;
                    outline: none;
                    width: 100%;
                    height: 100%;

                }
            }

            &-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 8px;

                &:hover {
                    opacity: 0.8;
                }
            }
        }

        &-right {
            grid-column: 4 / 6;
            display: flex;
            justify-content: end;
        }

        &-cart {
            display: flex;
            padding: 16px;
            align-items: center;

            &-icon {
                margin-right: 8px;
            }
        }

        &-purchase {
            display: flex;
            padding: 16px;
            align-items: center;

            &-icon {
                margin-right: 8px;
            }
        }

        &-account {
            display: flex;
            align-items: center;
            padding: 16px;

            &-icon {
                margin-right: 8px;
            }
        }
    }

    &__menu {
        display: flex;
        width: 100%;
        padding: 0 calc((100% - 1200px) / 2);
        background-color: white;
        color: black;
        background-color: $color-silver;
        justify-content: space-evenly;
        height: 48px;

        &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 8px;
            text-transform: uppercase;

            &.active {
                box-shadow: 0 -4px $color-header inset;
                color: $color-header;
            }

            &>i {
                margin-right: 8px;

            }
        }

        &-close {
            display: none;
        }
    }
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f1f1f1f1;
    margin-bottom: 32px;

    &>img {
        width: 100%;
    }
}

.body {
    padding: 0 calc((100% - 1200px) / 2);
    margin: calc(64px + 48px + 32px) 0;

    &-title {
        font-size: 1.5em;
        font-weight: bolder;
        text-transform: uppercase;
        margin: 16px;
    }

    &-content {}
}

.filter {
    display: grid;
    justify-content: start;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    margin-bottom: 16px;
    border: 1px solid $color-silver;
    padding: 16px;
    background-color: $color-silver;

    &>span {
        margin-right: 32px;
    }

    &-item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        background-color: white;
        border: none;
        outline: none;

        &.active {
            background-color: rgba($color-header, 0.8);
            color: white;
        }
    }
}

.area {
    &+.area {
        margin-top: 32px;
    }

    &-view-full {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 16px;

        &>a {
            padding: 8px;
            background-color: rgb(241, 241, 241);

            &:hover {
                color: rgba(0, 60, 255, 0.801);
            }
        }
    }

    &-title {
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 1.5em;
        margin: 16px;
    }

    &-list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        width: fit-content;
        gap: 0;
        border-top: #f1f1f1 1px solid;
        border-left: #f1f1f1 1px solid;
    }

    &-item {
        padding: 16px;
        border: 1px solid #f1f1f1;
        border-top: none;
        border-left: none;

        &:hover {
            box-shadow: 0 0 8px rgb(0 0 0 / 10%);
            z-index: 1;
            color: rgba(0, 60, 255, 0.801);
        }

        &-picture {
            width: 100%;

            &>img {
                width: 100%;
                height: 100%;
            }
        }

        &-name {
            margin: 8px 0;
        }

        &-price {
            font-size: 1.1em;
            font-weight: bolder;
        }
    }
}

.purchase {
    &-menu {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin-bottom: 32px;
        border-top: 1px solid white;
        border-left: 1px solid white;
        background-color: $color-silver;

        &>a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            border-right: 1px solid white;
            border-bottom: 1px solid white;
            padding: 16px;

            &.active {
                background-color: $color-header;
                color: white;
            }
        }
    }

    &-list {
        border-top: 1px solid #f1f1f1;
        border-left: 1px solid #f1f1f1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 0;
    }

    &-item {
        border-right: 1px solid #f1f1f1;
        border-bottom: 1px solid #f1f1f1;
        padding: 16px;

        &:hover {
            box-shadow: 0 0 8px rgba(0 0 0 / 10%);
            z-index: 1;
            color: rgba(0, 60, 255, 0.801);
        }

        &-id {
            margin-bottom: 8px;
        }

        &-image {
            margin-bottom: 8px;
            width: 100%;

            &>img {
                width: 100%;
            }
        }

        &-amount {
            margin-bottom: 8px;

        }

        &-price {
            margin-bottom: 8px;
        }

        &-detail {
            margin-bottom: 8px;

            &>button {
                padding: 4px;
                width: 100%;
            }
        }

        &-delete {
            margin-bottom: 8px;

            &>button {
                width: 100%;
                padding: 4px;
            }
        }
    }
}

.cart {
    &-header {
        display: flex;
        justify-content: end;
        border: 1px solid #f1f1f1;
        padding: 16px;
        margin-bottom: 16px;
    }

    &-selects {
        margin-right: 16px;
    }

    &-selects,
    &-orders {
        &>button {
            padding: 8px;
            color: $color-header;
            border: 1px solid $color-header;
            background-color: white;

            &:active {
                color: white;
                background-color: $color-header;
            }
        }
    }

    &-list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 0;
        border-top: 1px solid #f1f1f1;
        border-left: 1px solid #f1f1f1;
    }

    &-item {
        border-right: 1px solid #f1f1f1;
        border-bottom: 1px solid #f1f1f1;
        padding: 16px;

        &:hover {
            color: rgba(0, 60, 255, 0.801);
            box-shadow: 0 0 8px 4px $color-silver;
            z-index: 1;
        }

        &-image {
            width: 100%;

            &>img {
                width: 100%;
            }
        }

        &-delete,
        &-order {
            &>button {
                width: 100%;
                padding: 4px 0;
            }
        }

        &-image,
        &-order,
        &-delete,
        &-name,
        &-price,
        &-select {
            margin-bottom: 8px;
        }
    }
}

.land {
    &-header {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        border-top: 1px solid #f1f1f1;
        border-left: 1px solid #f1f1f1;
        margin-bottom: 32px;

        &-sub {
            padding: 16px;
            border-bottom: 1px solid #f1f1f1;
            border-right: 1px solid #f1f1f1;
        }

        &-top {
            grid-column: 1 / 6;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $color-silver;
        }

        &-name {
            font-size: 16px;
            text-transform: uppercase;
        }

        &-image {
            grid-column: 1 / 4;
            width: 100%;

            &>img {
                width: 100%;

            }
        }

        &-control {
            display: flex;
            justify-content: end;

            &-add,
            &-order {
                &>button {
                    padding: 8px;
                    background-color: white;
                    color: $color-header;
                    border: 1px solid $color-header;
                    outline: none;

                    &:active {
                        color: white;
                        background-color: $color-header;
                    }
                }
            }

            &-add+&-order {
                margin-left: 16px;
            }
        }


        &-info {
            grid-column: 4 / 6;
            padding: 16px;

            &-title {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-bottom: 16px;
                margin-bottom: 16px;
                font-weight: bolder;
                border-bottom: 1px solid #f1f1f1;
            }

            &-list {}

            &-item {
                padding: 8px 0;
            }

            &-item+&-item {
                margin-top: 8px;
            }
        }
    }

    &-thumbnail {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 0;
        border-left: 1px solid #f1f1f1;
        border-top: 1px solid #f1f1f1;
        margin-bottom: 32px;

        &-item {
            border-right: 1px solid #f1f1f1;
            border-bottom: 1px solid #f1f1f1;
            width: 100%;

            &>img {
                width: 100%;
            }
        }
    }

    &-description {
        border-left: 1px solid #f1f1f1;
        border-top: 1px solid #f1f1f1;

        &-title {
            font-size: 16px;
            font-weight: bolder;
            text-transform: uppercase;
            padding: 16px;
            border-right: 1px solid #f1f1f1;
            background-color: $color-silver;
            border-bottom: 1px solid #f1f1f1;
        }

        &-content {
            padding: 16px;
            border-right: 1px solid #f1f1f1;
            border-bottom: 1px solid #f1f1f1;
        }
    }
}

@media screen and (max-width: 576px) {
    .app {
        position: relative;
    }

    .header {
        position: fixed;
        inset: 0;
        bottom: calc(100vh - 48px);

        &__main {
            height: 48px;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(1, 48px);
            
            &-menu {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 8px;
            }

            &-logo {
                display: none;
            }

            &-search {
                grid-column: 1 / 3;
                border: unset;
                padding: 8px;

                &-input {

                    &>input {}
                }

                &-icon {

                    &:hover {
                        opacity: 0.5;
                    }
                }
            }

            &-right {
                grid-column: 3;
            }

            &-cart {
                margin: 8px;
                padding: unset;

                &-icon {
                    margin-right: unset;

                    &>i {}
                }

                &>span {
                    display: none;
                }
            }

            &-purchase {

                margin: 8px;
                padding: unset;

                &>span {
                    display: none;
                }

                &-icon {
                    margin-right: unset;
                }
            }

            &-account {
                margin: 8px;
                padding: unset;

                &-name {
                    display: none;
                }

                &-icon {
                    margin-right: unset;
                }
            }
        }

        &__menu {
            position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            height: unset;
            inset: 0;
            left: unset;
            transform: translateX(100%);
            width: 70%;
            transition: all 0.5s ease;
            padding: 8px;

            &.active {
                transform: translateX(0);
                transition: all 0.5s ease;
            }

            &-close {
                display: flex;
                justify-content: start;
                align-items: center;
                width: 100%;
                padding: 8px;
            }

            &-item {
                display: flex;
                justify-content: start;
                align-items: start;
                height: unset;

                &.active {
                    box-shadow: unset;
                    background-color: $color-header;
                    color: white;
                }
            }

            &-item+&-item {
                margin-top: 16px;
            }
        }
    }

    .slider {
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    }

    .body {
        margin: 64px 0 16px 0;

        &-title {
            margin-bottom: 8px;
            margin-left: 8px;
        }
    }

    .area {
        &+.area {
            margin-top: 32px;
        }

        &-title {
            margin: 8px;
        }

        &-list {
            grid-template-columns: repeat(2, 1fr);
        }

        &-item {
            padding: 8px;
        }
    }

    .purchase {
        &-menu {
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: 16px;

            &>a {
                padding: 8px;

                &:hover {}
            }
        }

        &-list {
            grid-template-columns: repeat(2, 1fr);
        }

        &-item {
            padding: 8px;
        }
    }

    .filter {
        padding: 8px;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
        &>span {
            display: none;
        }
    }

    .cart {
        &-header {
            padding: 8px;
        }

        &-list {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .land {
        &-header {
            &-sub {
                padding: 8px;
            }

            &-top {
                display: flex;
                flex-direction: column;
                align-items: start;
                padding: 8px;
            }

            &-name {
                margin-bottom: 8px;
            }

            &-image {
                grid-column: 1 / 6;
            }

            &-info {
                grid-column: 1 / 6;

                &-title {
                    margin-bottom: 8px;
                    padding-bottom: 8px;

                }
            }
        }

        &-thumbnail {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .app {
        position: relative;
    }

    .header {
        position: fixed;
        inset: 0;
        bottom: calc(100vh - 48px);

        &__main {
            height: 48px;

            &-right {
                display: flex;
            }

            &-menu {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 8px;
            }

            &-logo {
                display: none;
            }

            &-search {
                border: unset;
                padding: 8px;

                &-input {

                    &>input {}
                }

                &-icon {

                    &:hover {
                        opacity: 0.5;
                    }
                }
            }

            &-cart {
                margin: 8px;
                padding: unset;

                &-icon {
                    margin-right: unset;

                    &>i {}
                }

                &>span {
                    display: none;
                }
            }

            &-purchase {

                margin: 8px;
                padding: unset;

                &>span {
                    display: none;
                }

                &-icon {
                    margin-right: unset;
                }
            }

            &-account {
                margin: 8px;
                padding: unset;

                &-name {
                    display: none;
                }

                &-icon {
                    margin-right: unset;
                }
            }
        }

        &__menu {
            position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            height: unset;
            inset: 0;
            left: unset;
            transform: translateX(100%);
            width: 70%;
            transition: all 0.5s ease;
            padding: 8px;

            &.active {
                transform: translateX(0);
                transition: all 0.5s ease;
            }

            &-close {
                display: flex;
                justify-content: start;
                align-items: center;
                width: 100%;
                padding: 8px;
            }

            &-item {
                display: flex;
                justify-content: start;
                align-items: start;
                height: unset;

                &.active {
                    box-shadow: unset;
                    background-color: $color-header;
                    color: white;
                }
            }

            &-item+&-item {
                margin-top: 16px;
            }
        }
    }

    .slider {
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    }

    .body {
        margin: 64px 0 16px 0;

        &-title {
            margin-bottom: 8px;
            margin-left: 8px;
        }
    }

    .area {
        &+.area {
            margin-top: 32px;
        }

        &-title {
            margin: 8px;
        }

        &-list {
            grid-template-columns: repeat(3, 1fr);
        }

        &-item {
            padding: 8px;
        }
    }

    .purchase {
        &-menu {
            margin-bottom: 16px;

            &>a {
                padding: 8px;

                &:hover {}
            }
        }

        &-list {
            grid-template-columns: repeat(3, 1fr);
        }

        &-item {
            padding: 8px;
        }
    }

    .filter {
        padding: 8px;

        &>span {
            display: none;
        }

        &-item+&-item {
            margin-left: 8px;
        }
    }

    .cart {
        &-header {
            padding: 8px;
        }

        &-list {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .header {
        position: fixed;
        inset: 0;
        bottom: calc(100vh - 48px);

        &__main {
            height: 48px;

            &-right {
                display: flex;
            }

            &-menu {
                display: none;
            }

            &-search {
                border: unset;
                padding: 8px;

                &-input {

                    &>input {}
                }

                &-icon {

                    &:hover {
                        opacity: 0.5;
                    }
                }
            }

            &-cart {
                margin: 8px;
                padding: unset;

                &-icon {
                    margin-right: unset;

                    &>i {}
                }

                &>span {
                    display: none;
                }
            }

            &-purchase {

                margin: 8px;
                padding: unset;

                &>span {
                    display: none;
                }

                &-icon {
                    margin-right: unset;
                }
            }

            &-account {
                margin: 8px;
                padding: unset;

                &-name {
                    display: none;
                }

                &-icon {
                    margin-right: unset;
                }
            }
        }

        &__menu {
            height: unset;

            &-item {
                height: unset;
                padding: 8px;
            }
        }
    }

    .body {
        &-title {
            margin-bottom: 8px;
            margin-left: 8px;
        }
    }

    .slider {}

    .area {
        &+.area {
            margin-top: 32px;
        }

        &-title {
            margin: 8px;
        }

        &-list {
            grid-template-columns: repeat(4, 1fr);
        }

        &-item {
            padding: 8px;
        }
    }

    .purchase {
        &-menu {
            margin-bottom: 16px;

            &>a {
                padding: 8px;

                &:hover {}
            }
        }

        &-list {
            grid-template-columns: repeat(4, 1fr);
        }

        &-item {
            padding: 8px;
        }
    }

    .filter {
        padding: 8px;

        &>span {
            display: none;
        }

        &-item+&-item {
            margin-left: 8px;
        }
    }

    .cart {
        &-header {
            padding: 8px;
        }

        &-list {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}